NET "clock" LOC = B8;
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 20 ns HIGH 50%;


# Matrix cathodes and anodes
NET "CATHODES<0>" LOC = B2 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<1>" LOC = A3 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<2>" LOC = J3 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<3>" LOC = B5 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<4>" LOC = C6 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<5>" LOC = B6 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<6>" LOC = C5 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "CATHODES<7>" LOC = B7 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<0>" LOC = A9 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<1>" LOC = B9 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<2>" LOC = A10 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<3>" LOC = C9 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<4>" LOC = C12 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<5>" LOC = A13 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<6>" LOC = C13 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;
NET "ANODES<7>" LOC = D12 | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 16;

NET "ResetButton" LOC = M4 ;
NET "StartButton" LOC = C11 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "RightButton" LOC = G12 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "LeftButton" LOC = A7;

# SSD cathodes and anodes
NET "SSDcathodes<0>" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "SSDcathodes<1>" LOC = "H12" | IOSTANDARD = LVCMOS33;
NET "SSDcathodes<2>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "SSDcathodes<3>" LOC = "N11";
NET "SSDcathodes<4>" LOC = "P12";
NET "SSDcathodes<5>" LOC = "L13" | IOSTANDARD = LVCMOS33;
NET "SSDcathodes<6>" LOC = "M12" | IOSTANDARD = LVCMOS33;

NET "SSDanodes<3>" LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "SSDanodes<2>" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "SSDanodes<1>" LOC = "J12" | IOSTANDARD = LVCMOS33;
NET "SSDanodes<0>" LOC = "F12" | IOSTANDARD = LVCMOS33;


NET "Pause" LOC = N3;